@import "./root.css";

.section-aws {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: calc(var(--nav-height) + 4em) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aws-experience-container,
.aws-certificate {
  box-sizing: border-box;
  max-width: 600px;
  padding: 0 var(--padding);
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aws-h1 {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.8rem;
  font-weight: 700;
}

.aws-article {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-detail,
.certificate-detail {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: black;
  padding: 1em 0;
  line-height: 1.2em;
  text-align: center;
}
.experience-detail li,
.certificate-detail li {
  width: 100%;
}
.experience-name,
.certificate-name {
  padding: 0.5em 0;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
.experience-role {
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
.experience-date {
  padding: 0.5em 0;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  color: black;
}
.experience-descriptions {
  box-sizing: border-box;
  width: 100%;
  padding: 0.2em 0;
  font-size: 0.9em;
  line-height: 1.2em;
  text-align: center;
  color: black;
}
.certificate-grade {
  display: inline;
  font-size: 0.9rem;
  color: black;
}
.certificate-date {
  display: inline;
  font-size: 0.7rem;
  color: black;
}
@media screen and (min-width: 420px) {
  .section-aws {
    padding: calc(var(--nav-height) + 8em) 0;
  }
  .aws-experience-container,
  .aws-certificate {
    padding-bottom: 4em;
  }
}
