@import "./root.css";

.section-cicd {
  position: relative;
  width: 100%;
  padding: calc(var(--nav-height) + 8em) 0;
}
.section-cicd img {
  width: 100%;
}
#show-article-0 #scroll-article-0 .sticky-elem,
#show-article-1 #scroll-article-1 .sticky-elem,
#show-article-2 #scroll-article-2 .sticky-elem,
#show-article-3 #scroll-article-3 .sticky-elem {
  display: flex;
}
#scroll-article-0 {
  width: 100%;
}
.jenkins-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jenkins {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(20%);
  padding-bottom: 2em;
}
.jenkins .jenkins-image {
  width: 15%;
}
.jenkins-message {
  box-sizing: border-box;
  padding-left: 1.5em;
  width: 45%;
  font-weight: 700;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scroll-message {
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-weight: 700;
  animation: blinking 0.7s linear alternate infinite;
}
.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  top: 45%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.command {
  font-size: 0.86em;
  font-weight: 700;
  word-spacing: -0.1em;

  color: black;
}
.git-image-container {
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.git-image {
  width: 40%;
}
.git-message-container {
  justify-content: center;
  opacity: 0;
}
.git-message {
  overflow: hidden;
  white-space: nowrap;
  width: 0.7em;
  border-right: 1px solid var(--color-ivory);
}
.git-loading-container {
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.git-loading-container p {
  margin-bottom: 1em;
  animation: blinking 0.7s linear alternate infinite;
}
.git-loading {
  position: relative;
  width: 75%;
  height: 15px;
  border: 1px solid var(--color-ivory);
  border-radius: 15px;
  overflow: hidden;
}
.git-loading-ratio {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 145, 29);
  border-radius: 15px;
}

.webpack-image-container {
  z-index: 10;

  justify-content: center;
  align-items: center;
  opacity: 0;
}
.webpack-image {
  width: 50%;
}

.webpack-message-container {
  opacity: 0;
  justify-content: center;
}
.webpack-message {
  overflow: hidden;
  white-space: nowrap;
  width: 0.7em;
  border-right: 1px solid var(--color-ivory);
}

.files-image-container {
  box-sizing: border-box;
  top: 55%;

  justify-content: center;
  align-items: center;
  opacity: 0;
}
.files-image {
  width: 50%;
}

.ajs-image-container {
  z-index: -1;
  top: 20%;

  justify-content: center;
  align-items: center;
  opacity: 0;
}
.ajs-image {
  width: 20%;
}

.docker-image-container {
  z-index: 10;

  justify-content: center;
  align-items: center;
  opacity: 0;
}
.docker-image {
  width: 70%;
}

.docker-message-container {
  opacity: 0;
  justify-content: center;
}
.docker-message {
  overflow: hidden;
  white-space: nowrap;
  width: 0.7em;
  border-right: 1px solid var(--color-ivory);
}
.push-message-container {
  opacity: 0;
  justify-content: center;
}
.push-message {
  overflow: hidden;
  white-space: nowrap;
  width: 0.7em;
  border-right: 1px solid var(--color-ivory);
}

.dockerimage-image-container {
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.dockerimage-image {
  width: 50%;
}

.ecr-image-container {
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate3d(-50%, -150%, 0);
}
.ecr-image {
  width: 50%;
}

.ecs-image-container {
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.ecs-image {
  width: 30%;
}

.ecs-message-container {
  justify-content: center;
  opacity: 0;
}
.ecs-message {
  text-align: center;
  width: 15em;
}

.codedeploy-image-container {
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.codedeploy-image {
  width: 30%;
}

.codedeploy-message-container {
  justify-content: center;
  opacity: 0;
}
.codedeploy-message {
  text-align: center;
  /* width: 15em; */
}
.codedeploy-loading-container {
  flex-direction: column;
  align-items: center;
  transform: translate3d(-50%, -30%, 0);
  opacity: 0;
}
.codedeploy-loading-container h1 {
  font-size: 1.5em;
  padding-bottom: 1.5em;
  animation: blinking 0.7s linear alternate infinite;
}
.codedeploy-loading-container p {
  font-size: 0.9em;
  /* width: 22em; */
  width: 75%;
  margin-bottom: 0.2em;
}
.codedeploy-loading-container small {
  font-size: 0.6em;
}
.codedeploy-loading {
  position: relative;
  width: 75%;
  height: 15px;
  margin: 1em 0;
  border: 1px solid var(--color-ivory);
  border-radius: 15px;
  overflow: hidden;
}
.codedeploy-loading-ratio-1,
.codedeploy-loading-ratio-2,
.codedeploy-loading-ratio-3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 145, 29);
  border-radius: 15px;
}

.complete-message-container {
  z-index: 10;

  justify-content: center;
  align-items: center;
  opacity: 0;
}
.complete-message {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.goto {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.5em;
  width: 15em;
  height: 2em;
  background-color: var(--color-blue);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goto:hover {
  background-color: var(--color-coral);
}
.goto:link,
.goto:visited,
.goto:active,
.goto:hover {
  color: var(--color-ivory);
}

@media screen and (min-width: 420x) {
  .sticky-elem {
    width: 400px;
  }
  .goto {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 750px) {
  .section-cicd {
    font-size: 1.5rem;
  }
  .sticky-elem {
    width: 600px;
    font-size: 1.5rem;
  }
}
