@import "./root.css";

.section-frontend {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: calc(var(--nav-height) + 4em) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-article,
.works-container {
  box-sizing: border-box;
  max-width: 600px;
  padding: 0 var(--padding);
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontend-h1 {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.8rem;
  font-weight: 700;
}
.circle-box {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.skill-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-container .skill {
  position: absolute;
  text-align: center;
  font-size: 0.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  opacity: 0;
  animation: skill-opacity 1s 1s forwards ease;
}
@keyframes skill-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gauge-container {
  position: relative;
  width: 110px;
  height: 110px;
  padding: 0 0.5em;
  z-index: 5;
  transform: rotate(-90deg);
}

.gauge-container circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #eee;
  stroke-width: 5;
  stroke-linecap: round;
  transform: translate3d(5px, 5px, 0);
}
.gauge-container .gauge-bar {
  stroke-dasharray: 314;
  transition: stroke-dashoffset 2s;
}
.javascript-gauge-container .gauge-bar {
  stroke: #f15a5a;
  stroke-dashoffset: 314;
  animation: progress-75 2s 0.3s linear forwards;
}
.html-gauge-container .gauge-bar {
  stroke: #f0c419;
  stroke-dashoffset: 314;
  animation: progress-75 2s 0.3s linear forwards;
}
.react-gauge-container .gauge-bar {
  stroke: #4eba6f;
  stroke-dashoffset: 314;
  animation: progress-60 2s 0.3s linear forwards;
}
.webpack-gauge-container .gauge-bar {
  stroke: #2d95bf;
  stroke-dashoffset: 314;
  animation: progress-30 2s 0.3s linear forwards;
}
.babel-gauge-container .gauge-bar {
  stroke: #955ba5;
  stroke-dashoffset: 314;
  animation: progress-30 2s 0.3s linear forwards;
}
.aws-gauge-container .gauge-bar {
  stroke: #f19e5a;
  stroke-dashoffset: 314;
  animation: progress-80 2s 0.3s linear forwards;
}
.jenkins-gauge-container .gauge-bar {
  stroke: #2d48bf;
  stroke-dashoffset: 314;
  animation: progress-75 2s 0.3s linear forwards;
}
.docker-gauge-container .gauge-bar {
  stroke: #ba4e8d;
  stroke-dashoffset: 314;
  animation: progress-30 2s 0.3s linear forwards;
}
@keyframes progress-80 {
  100% {
    stroke-dashoffset: 62;
  }
}
@keyframes progress-75 {
  100% {
    stroke-dashoffset: 78;
  }
}
@keyframes progress-60 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes progress-30 {
  100% {
    stroke-dashoffset: 220;
  }
}
.frontend-article {
  width: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-name {
  padding: 0.5em 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
.project-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container {
  display: block;
  box-sizing: border-box;
  margin: 1em;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #505050;
}
.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.image-container:hover img {
  transform: scale(1.2);
  transition: transform 0.7s ease;
}
.project-descriptions {
  box-sizing: border-box;
  width: 100%;
  padding: 0.2em 0;
  font-size: 0.9em;
  line-height: 1.2em;
  text-align: center;
  color: black;
}
.project-skills {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 4em;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.code-btn {
  width: 8em;
  height: 2em;
  color: black;
  border-radius: 1em;
  margin-top: 1em;
  border-bottom: 0.2em solid var(--color-coral);
  display: flex;
  justify-content: center;
  align-items: center;
}
.code-btn:hover {
  background-color: var(--color-coral);
  border-bottom: 0.2em solid var(--color-background);
}
.code-btn:link,
.code-btn:visited,
.code-btn:active {
  color: var(--color-blue);
}
.code-btn:hover {
  color: var(--color-ivory);
}

@media screen and (min-width: 420px) {
  .section-frontend {
    padding: calc(var(--nav-height) + 8em) 0;
  }
  .skills-article,
  .works-container {
    padding-bottom: 6em;
  }
}
@media screen and (min-width: 750px) {
  .frontend-article {
    flex-direction: row;
    justify-content: center;
  }
}
