@import "./root.css";

.section-home {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - var(--nav-height) - var(--footer-height));
  padding: 1.5em var(--padding);
  /* min-height: 740px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome h1 {
  font-size: 2.3rem;
  font-weight: 700;
  padding-bottom: 0.5em;
  letter-spacing: 0.05em;
  color: var(--color-ivory);
}
.welcome h2 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: var(--color-ivory);
}

.descriptions > p {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

@media screen and (min-width: var(--media-width-s)) {
  .welcome h1 {
    font-size: 2.8rem;
  }
  .welcome h2 {
    font-size: 1.5rem;
  }

  .descriptions > p {
    font-size: 1.3rem;
  }
  .section-home {
    padding: 2em var(--padding-l);
    min-height: 650px;
  }
}
@media screen and (min-width: 750px) {
  .hello {
    flex-direction: row;
  }

  .section-home {
    padding: 3.5em var(--padding-xl);
    min-height: 750px;
  }
}

@media screen and (min-width: 1024px) {
  .section-home {
    padding: 3.5em calc((100% - 900px) / 2);
  }
}
