@import "./root.css";

.section-home {
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--nav-height) + 2em) var(--padding);
  /* min-height: 740px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.welcome h1 {
  font-size: 2.3rem;
  font-weight: 700;
  padding-bottom: 0.5em;

  color: var(--color-blue);
}
.welcome h2 {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.descriptions > p {
  text-align: center;
  padding: 0.5em 0;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: black;
  flex-shrink: 0;
}

@media screen and (min-width: 420px) {
  .welcome h1 {
    font-size: 2.8rem;
  }
  .welcome h2 {
    font-size: 1.3rem;
  }

  .descriptions > p {
    font-size: 1.3rem;
  }
  .section-home {
    padding: calc(var(--nav-height) + 8em) var(--padding-l);
    /* min-height: 650px; */
  }
}
@media screen and (min-width: 750px) {
  .hello {
    flex-direction: row;
  }

  .section-home {
    padding: calc(var(--nav-height) + 8em) var(--padding-xl);
    /* padding: calc(3.5em + var(--nav-height)) var(--padding-xl); */
    /* min-height: 650px; */
  }
}

@media screen and (min-width: 1024px) {
  .section-home {
    /* padding: 3.5em calc((100% - 900px) / 2); */
  }
}
