:root {
  --nav-height: 60px;
  --footer-height: 60px;
  --color-beige: #d9d0bf;
  --color-charcoal: #404040;
  --color-black: #010d00;
  --color-ivory: #f2f2f2;
  --color-background: #f2cbbd;
  --color-coral: #f26d6d;
  --color-blue: #295fa6;

  --padding: 2em;
  --padding-l: 5em;
  --padding-xl: 11em;

  --media-width-s: 420px;
  --media-width-m: 750px;
  --media-width-l: 1024px;
}
