@import "./root.css";
html,
body {
  box-sizing: border-box;
  /* width: 1000px; */
  width: 100%;
  height: 100%;
  font-family: "Do Hyeon", sans-serif;
  color: var(--color-blue);
}
body {
  background-color: var(--color-background);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
img {
  pointer-events: none;
}
a {
  cursor: pointer;
  text-align: center;
}
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: var(--color-ivory);
}
nav {
  position: fixed;
  z-index: 100;
  top: 0;
  /* position: relative; */
  width: 100%;
  height: var(--nav-height);
  display: flex;
  justify-content: center;
  color: var(--color-blue);
  background-color: var(--color-coral);
}

ul {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  /* background-color: rgb(19, 49, 56); */
  background-color: var(--color-background);
}
.information {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-coral);
}
.github a {
  font-size: 1rem;
  font-weight: 400;
  width: 7em;
  height: 2em;
  background-color: var(--color-blue);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github a:hover {
  background-color: var(--color-coral);
}

footer a:link,
footer a:visited,
footer a:active,
footer a:hover {
  color: var(--color-ivory);
}

@media screen and (min-width: 420px) {
  ul {
    padding: 0 var(--padding-l);
  }

  .sticky-elem {
    width: 400px;
  }
}
@media screen and (min-width: 750px) {
  ul {
    padding: 0 var(--padding-xl);
  }
  .sticky-elem {
    width: 600px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  ul {
    padding: 0 calc((100% - 900px) / 2);
  }
}
